/* ┌─────────────────────────────────────────┐
   │ セクション名                        │
   └─────────────────────────────────────────┘ */

.section-work {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.header_row {
  display: flex;
  justify-content: center;
  width: 40rem;
  gap: 4rem;
  align-items: center;
  height: 5rem;
}

.header_log_img {
  width: 10rem;
  height: 2.6rem;
  display: block;
}

.header-nav-list {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

/* ┌─────────────────────────────────────────┐
   │ メイン　　　　　　                        │
   └─────────────────────────────────────────┘ */

.news_title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 4rem;
  /* padding: 3rem auto 3rem 3rem; */
  margin: 3rem auto 3rem 3rem;
}
.news_small_title {
  font-size: 0.9rem;
  /* font-weight: bold; */
  margin-bottom: 4rem;
  /* padding: 3rem auto 3rem 3rem; */
  margin: 3rem auto 3rem 3rem;
}

.news_list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

date {
  display: inline-block;
  color: #888;
  margin-bottom: 0.5rem;
}

.news_text_box {
  display: inline-block;
  margin-bottom: 0.5rem;
}

/* --- レイアウト確認用（完成したら消す） --- */
div,
section,
article,
header,
footer,
nav,
main {
  outline: 1px solid red !important;
}

img,
svg {
  outline: 1px solid blue !important;
  background-color: rgba(0, 0, 255, 0.1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li {
  outline: 1px solid limegreen !important;
}
